.todo-card {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    color: #363535;
    margin-bottom: 20px;
  }

  .todo-card p {
    flex: 1;
  }

  .todo-card:last-child {
    margin-bottom: 0;
  }

  input {
    margin-right: 10px;
  }

  .todo-remove {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .todo-remove:hover {
    transition: color .3s;
    color: rgb(43, 131, 231);
  }